@import "../../../../scss/index.scss";
.shop-fluid {
    display: flex;
    align-items: center;
    padding: 0 16px;
    position: relative;
    .slider-btn {
        position: absolute;
        top: 45%;
    }
    .slider-btn-next {
        position: absolute;
        top: 45%;
        right: 16px;
    }
    @media screen and (max-width: 576px) {
       .slider-btn {
            display: none;
        }
    }
}

.shop {
    margin-bottom: 200px;
    .title {
        text-align: center;
        small {
            color: $primary;
            font-size: 10px;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
        h1 {
            color: $dark;
            font-size: 40px;
        }
    }
    .products {
        text-align: center;
        .product-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .cover {
                position: relative;
                flex: 1.5;
                display: flex;
                justify-content: center;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 350px;
                    background-color: #eee;
                    z-index: -1 ;
                }
            }
            .content {
                flex:  1;
                position: relative;
                top: 60px;
                right: 50px;
                .name {
                    position: relative;
                    top: -20px;
                    text-align: left;
                    h3 {
                        font-size: 25px;
                        font-weight: 300;
                        color: $dark;
                    }
                    small {
                        font-size: 10px;
                        font-weight: 300;
                        color: $gray;
                        text-transform: uppercase;
                        letter-spacing: 5px;
                    }
                }
                .buy {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    span {
                        font-size: 24px;
                        color: #ce60a8;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        > button {
            margin-top: 50px;
        }
    }
}