@import './var.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    box-sizing: border-box; 
    font-family: 'Spartan', sans-serif;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Playfair Display', serif !important;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    @media screen and (max-width: 1400px) {
        max-width: 1200px;
    }
    @media screen and (max-width: 1200px) {
        max-width: 992px;
    }
    @media screen and (max-width: 992px) {
        max-width: 768px;
    }
    @media screen and (max-width: 768px) {
        max-width: 576px;
    }
    @media screen and (max-width: 576px) {
        max-width: 100%;
        width: 100%;
    }
}